p {
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: minmax(150px,250px) minmax(150px,250px) minmax(150px,250px);
    grid-template-rows: minmax(150px,250px) minmax(150px,250px) minmax(150px,250px);
    gap: 25px;
    background-color: black;
}

.game-board-grid {
    background-color: aliceblue;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.game-board-grid p {
    font-size: 4em;
    font-weight: bold;
}
